@use "../global/mixins.scss";
@use "../global/variables.scss";

.catalog-products__wrapper {
  padding: 0 30px;
}

.catalog-products__list {
  @include mixins.list-reset;
  display: grid;
  grid-template-columns: 260px;
  justify-content: center;
  gap: 30px;

  @media (min-width: 610px) {
    grid-template-columns: repeat(2, 260px);
  }
}
