@use "../global/mixins.scss";
@use "../global/variables.scss";

.contacts__text-wrapper {
  padding: 0 30px;
  margin: 0 0 62px;

  @media (min-width: variables.$width-tablet) {
    padding: 0 50px;
    margin: 0 0 48px;
  }
}

.contacts__subtitle {
  margin: 0 0 28px;

  @media (min-width: variables.$width-tablet) {
    padding: 23px 0 8px;
    margin: 0 0 41px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  margin: 0;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: variables.$width-tablet) {
    font-size: 17px;
    flex-direction: row;
    gap: 0 38px;
  }
}

.contacts__item {
  display: grid;
  grid-template-columns: 78px 182px;

  @media (min-width: variables.$width-tablet) {
    grid-template-columns: 78px 217px;
  }
}

.contacts__definition {
  margin: 0;
}

.contacts__link {
  @include mixins.link-reset;
  padding: 0 0 3px;
  border-bottom: 1px solid variables.$moderate-aquamarine-2;

  &:hover {
    color: variables.$shamrock;
    border-color: variables.$shamrock;
  }

  &:active {
    color: variables.$shamrock;
    border-color: rgba(variables.$shamrock, 0.1);
  }
}

.contacts__map {
  margin: 0 0 42px;

  @media (min-width: variables.$width-tablet) {
    margin: 0 0 55px;
  }
}

.contacts__button-wrapper {
  padding: 0 30px;
}

.contacts__write {
  max-width: 334px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: variables.$width-tablet) {
    max-width: 230px;
  }
}
