@use "../global/mixins.scss";
@use "../global/variables.scss";

.copyright {
  padding: 23px 0;
  box-sizing: border-box;
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  @include mixins.link-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 182px;

  &:hover .copyright__logo-icon {
    color: variables.$shamrock;
  }

  &:active .copyright__logo-icon {
    color: rgba(variables.$shamrock, 0.3);
  }
}

.copyright__logo-icon {
  color: variables.$moderate-aquamarine-1;
}
