@use "../global/variables.scss";

.field-entry {
  padding: 17px 0 16px;
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  box-shadow: inset 0 -2px 0 variables.$dark-main;
  cursor: pointer;

  &--icon {
    padding-right: 38px;
  }

  &:hover {
    border: none;
    box-shadow: inset 0 -2px 0 variables.$moderate-aquamarine-2;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 variables.$moderate-aquamarine-2;
  }

  &:active {
    box-shadow: inset 0 -2px 0 variables.$moderate-aquamarine-2;
  }

  &::placeholder {
    color: rgba(variables.$dark-main, 0.3);
  }

  &--textarea {
    padding: 17px;
    min-height: 142px;
    box-shadow: inset 0 0 0 2px variables.$dark-bluish-black;
    resize: vertical;

    &:hover {
      box-shadow: inset 0 0 0 2px variables.$moderate-aquamarine-2;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px variables.$moderate-aquamarine-2;
    }

    &:active {
      box-shadow: inset 0 0 0 2px variables.$moderate-aquamarine-2;
    }
  }
}
