@use "../global/mixins.scss";
@use "../global/variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  min-height: 488px;
  background: url("../img/background-hero.jpg") center top -17px/contain no-repeat;

  @media (min-width: variables.$width-tablet) {
    min-height: 745px;
  }
}

.hero__text-wrapper {
  padding: 72px 30px 0;

  @media (min-width: variables.$width-tablet) {
    padding: 155px 50px 0;
  }
}

.hero__title {
  text-align: center;
}

.hero__links-wrapper {
  margin-top: auto;

  @media (min-width: variables.$width-tablet) {
    padding: 0 50px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -12px;
      width: 100%;
      height: 24px;
      background: url("../img/decor/zigzag.svg") repeat-x;
    }
  }

}

.hero__list {
  @include mixins.list-reset;

  @media (min-width: variables.$width-tablet) {
    display: flex;
  }
}

.hero__item {
  @media (min-width: variables.$width-tablet) {
    width: 100%;
  }
}

.hero__link {
  display: block;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
  color: variables.$light-main;
  position: relative;
  padding: 24px 30px 31px;
  background-color: variables.$moderate-aquamarine-1;

  &:hover {
    padding-bottom: 36px;
    margin-top: -5px;
    background-color: variables.$moderate-aquamarine-4;
    outline: none;
  }

  &:hover .hero__link-icon {
    opacity: 0.7;
  }

  &:active .hero__link-icon {
    opacity: 0.3;
  }

  &--shade {
    background-color: variables.$moderate-aquamarine-2;

    &:hover {
      background-color: variables.$shamrock;
    }
  }

  @media (min-width: variables.$width-tablet) {
    padding: 26px 36px 33px;
    font-size: 20px;
    line-height: 30px;
  }
}

.hero__link-icon {
  position: absolute;
  top: 23px;
  right: 36px;
  opacity: 0.5;

  @media (min-width: variables.$width-tablet) {
    top: 29px;
  }

  &--toy {
    top: 21px;
    right: 27px;

    @media (min-width: variables.$width-tablet) {
      top: 32px;
      right: 33px;
    }
  }
}
