@use "../global/mixins.scss";
@use "../global/variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  min-height: 488px;
  background: variables.$white-snow url("../img/background-hero.jpg") center top -17px/contain no-repeat;

  @media (min-width: variables.$width-tablet) {
    min-height: 745px;
  }

  @media (min-width: variables.$width-desktop) {
    background-position: center top;
  }
}

.hero__text-wrapper {
  padding: 0 30px;

  @media (min-width: variables.$width-tablet) {
    padding: 0 50px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1050px;
    margin: 0 auto;
  }
}

.hero__title {
  padding: 72px 0 120px;
  text-align: center;

  @media (min-width: variables.$width-tablet) {
    padding: 155px 0 371px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 700px;
    padding: 157px 0 355px;
    margin: 0 auto;
  }
}

.hero__links-wrapper {
  margin-top: auto;

  @media (min-width: variables.$width-tablet) {
    padding: 0 50px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -12px;
      width: 100%;
      height: 24px;
      background: url("../img/decor/zigzag-tablet.svg") repeat-x;
    }
  }

  @media (min-width: variables.$width-desktop) {
    padding: 0;

    &::after {
      bottom: -7px;
      background: url("../img/decor/zigzag-desktop.svg") repeat-x;
    }
  }
}

.hero__list {
  @include mixins.list-reset;

  @media (min-width: variables.$width-tablet) {
    display: flex;
  }

  @media (min-width: variables.$width-desktop) {
    width: 1050px;
    margin: 0 auto;
  }
}

.hero__item {
  @media (min-width: variables.$width-tablet) {
    width: 100%;
  }
}

.hero__link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
  color: variables.$light-main;
  padding: 24px 30px 31px;
  background-color: variables.$moderate-aquamarine-1;

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }

  &:hover {
    padding-bottom: 36px;
    margin-top: -5px;
    background-color: variables.$moderate-aquamarine-4;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &--interior {
    &::after {
      width: 40px;
      height: 62px;
      top: 23px;
      right: 36px;
      background-image: url("../img/icon/interior.svg");

      @media (min-width: variables.$width-tablet) {
        top: 29px;
      }
    }
  }

  &--toy {
    background-color: variables.$moderate-aquamarine-2;

    &:hover {
      background-color: variables.$shamrock;
    }

    &::after {
      width: 60px;
      height: 60px;
      top: 21px;
      right: 27px;
      background-image: url("../img/icon/toy.svg");

      @media (min-width: variables.$width-tablet) {
        top: 32px;
        right: 33px;
      }
    }
  }

  @media (min-width: variables.$width-tablet) {
    padding: 26px 36px 33px;
    font-size: 20px;
    line-height: 30px;
  }
}
