@use "../global/variables.scss";

.main-header {
  min-height: 79px;
  border-bottom: 1px solid variables.$linen;

  @media (max-width: variables.$width-mobile) {
    position: relative;
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  display: block;
  margin: 22px auto;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__logo-image {
  display: block;
}
