@use "../global/variables.scss";

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 80px;
  padding: 0 30px;
  box-shadow: inset 0 -1px 0 0 variables.$linen;

  @media (min-width: variables.$width-tablet) {
    min-height: 89px;
    padding: 0 50px;
  }
}

.main-header__logo {
  position: absolute;
  left: calc(50% - 1px);
  top: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: variables.$width-tablet) {
    left: 64px;
    transform: translateY(-50%) scale(1.33);
  }
}

.main-header__logo-image {
  display: block;
}
