@use "../global/variables.scss";

.main-container__title {
  padding: 74px 0;
  background-color: variables.$smoky-white;
  text-align: center;
}

.main-container__hero {
  margin-bottom: 31px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 53px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 70px;
  }
}

.main-container__popular {
  margin-bottom: 31px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 57px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 68px;
  }
}

.main-container__about {
  margin-bottom: 57px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 82px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 88px;
  }
}

.main-container__reviews {
  margin-bottom: 38px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 46px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 71px;
  }
}

.main-container__contacts {
  margin-bottom: 39px;

  @media (min-width: variables.$width-tablet) {
    margin-bottom: 57px;
  }

  @media (min-width: variables.$width-desktop) {
    margin-bottom: 105px;
  }
}
