@use "../global/variables.scss";

.map {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.map__map-image {
  grid-area: 1/1/-1/-1;

  @media (min-width: variables.$width-tablet) {
    height: 457px;
  }
}

.map__google {
  width: 100%;
  border: none;
  grid-area: 1/1/-1/-1;

  @media (min-width: variables.$width-tablet) {
    height: 457px;
  }
}
