@use "../global/mixins.scss";
@use "../global/variables.scss";


.player {
  position: relative;
  background-color: variables.$linen;

  @media (min-width: 610px) {
    width: 550px;
    height: 317px;
  }

  @media (min-width: variables.$width-tablet) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: variables.$width-desktop) {
    width: 683px;
  }
}

.player__poster {
  display: block;
  object-fit: cover;
}

.player__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border: none;
  width: 101px;
  height: 77px;
  background: url("../img/icon/play.svg") no-repeat;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}
