@use "../global/variables.scss";

.request {
  display: flex;
  flex-direction: column;
}

.request__wrapper {
  padding: 17px 0 55px;
}

.request__text {
  margin: 0 0 30px;
  font-size: 13px;
}

.request__form {
  display: flex;
  flex-direction: column;
}

.request__group {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid variables.$moderate-aquamarine-3;

  &--group-type {
    padding: 22px 0;
    margin: 0 0 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px 0;
  }

  &--group-color {
    padding: 24px 0;
    margin: 0 0 9px;
    display: flex;
    flex-direction: column;
    gap: 23px 0;
  }

  &--group-initials {
    padding: 29px 0 0;
    margin: 0 0 34px;
    display: flex;
    flex-direction: column;
    gap: 23px 0;
  }

  &--group-phone {
    padding: 2px 0 0;
    margin: 0 0 39px;
  }

  &--group-email {
    padding: 2px 0 0;
    margin: 0 0 38px;
  }

  &--additionally {
    padding: 21px 0 1px;
    margin: 0 0 10px;
  }
}

.request__heading {
  position: relative;
  padding: 0 23px 0 0;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: variables.$moderate-aquamarine-1;
}

.request__text-option {
  position: relative;
  padding: 10px 0 10px 61px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}

.request__radio {
  &:checked + .request__mark-radio {
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: variables.$moderate-aquamarine-2;
    }
  }
}

.request__mark-radio {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 0 2px variables.$dark-bluish-black;
  border-radius: 50%;

  &:hover {
    box-shadow: inset 0 0 0 2px variables.$moderate-aquamarine-3;
  }

  &:active {
    box-shadow: inset 0 0 0 2px rgba(variables.$dark-main, 0.3);
  }
}

.request__checkbox {
  &:checked + .request__mark-checkbox {
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 26px;
      height: 26px;
      background: url("../img/icon/checkbox-on.svg") center / 26px 17px no-repeat;
    }
  }
}

.request__mark-checkbox {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: 0;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  box-shadow: inset 0 0 0 2px variables.$dark-bluish-black;

  &:hover {
    box-shadow: inset 0 0 0 2px variables.$moderate-aquamarine-3;
  }

  &:active {
    box-shadow: inset 0 0 0 2px rgba(variables.$dark-main, 0.3);
  }
}

.request__group-input {
  position: relative;

  &:hover .request__icon-input,
  &:focus .request__icon-input {
    color: variables.$moderate-aquamarine-2;
  }
}

.request__icon-input {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  color: rgba(variables.$dark-main, 0.2);

  &--message {
    right: 3px;
  }
}

.request__text-initials {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}

.request__subtext {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 16px;
  color: variables.$dark-bluish-black;
}
