@use "../global/variables.scss";
@use "../global/mixins.scss";

.request {
  display: flex;
  flex-direction: column;
}

.request__text-wrapper {
  padding: 0 30px;

  @media (min-width: variables.$width-tablet) {
    padding: 0 50px;
  }
}

.request__text {
  margin: 0 0 30px;
  font-size: 13px;

  @media (min-width: variables.$width-tablet) {
    font-size: 17px;
    line-height: 30px;
  }
}

.request__form {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  @media (min-width: variables.$width-tablet) {
    padding: 0;
  }
}

.request__group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  border: none;

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: variables.$moderate-aquamarine-3;

    @media (min-width: variables.$width-tablet) {
      display: none;
    }
  }

  &--group-type {
    margin: 0 0 33px;

    @media (min-width: variables.$width-tablet) {
      padding: 0 50px;
    }
  }

  &--group-color {
    margin: 0 0 33px;

    @media (min-width: variables.$width-tablet) {
      padding: 0 50px;
    }
  }

  &--group-initials {
    margin: 0 0 34px;

    @media (min-width: variables.$width-tablet) {
      padding: 0 50px;
    }
  }

  &--group-phone {
    margin: 0 0 37px;

    @media (min-width: variables.$width-tablet) {
      padding: 0 50px;
    }
  }

  &--group-email {
    margin: 0 0 36px;

    @media (min-width: variables.$width-tablet) {
      padding: 0 50px;
    }
  }

  &--additionally {
    margin: 0 0 17px;

    @media (min-width: variables.$width-tablet) {
      padding: 0 50px;
    }
  }
}

.request__heading {
  position: relative;
  padding-right: 23px;
  margin: 0 0 15px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: variables.$moderate-aquamarine-1;
  background-color: variables.$light-main;

  @media (min-width: variables.$width-tablet) {
    background-color: inherit;
  }

  &--type {
    margin: 0 0 22px;
  }

  &--color {
    margin: 0 0 25px;
  }

  &--initials {
    margin: 0 0 29px;
  }

  &--phone {
    margin: 0 0 3px;
  }

  &--email {
    margin: 0 0 4px;
  }

  &--additionally {
    margin: 0 0 22px;
  }
}

.request__list {
  @include mixins.list-reset;

  &--type {
    display: flex;
    flex-direction: column;
    gap: 7px 0;
  }

  &--color {
    display: flex;
    flex-direction: column;
    gap: 23px 0;

    @media (min-width: variables.$width-device) {
      display: grid;
      grid-template-columns: repeat(2, 260px);
    }
  }
}

.request__text-option {
  display: block;
  position: relative;
  padding: 10px 0 10px 61px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}

.request__radio {
  &:checked + .request__mark-radio {
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: variables.$moderate-aquamarine-2;
    }
  }
}

.request__mark-radio {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  box-shadow: inset 0 0 0 2px variables.$dark-bluish-black;
  border-radius: 50%;

  &:hover {
    box-shadow: inset 0 0 0 2px variables.$moderate-aquamarine-3;
  }

  &:active {
    box-shadow: inset 0 0 0 2px rgba(variables.$dark-main, 0.3);
  }
}

.request__group-wrapper {
  @media (min-width: variables.$width-tablet) {
    background-color: variables.$smoky-white;
  }
}

.request__checkbox {
  &:checked + .request__mark-checkbox {
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 26px;
      height: 26px;
      background: url("../img/icon/checkbox-on.svg") center / 26px 17px no-repeat;
    }
  }
}

.request__mark-checkbox {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: 0;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  box-shadow: inset 0 0 0 2px variables.$dark-bluish-black;

  &:hover {
    box-shadow: inset 0 0 0 2px variables.$moderate-aquamarine-3;
  }

  &:active {
    box-shadow: inset 0 0 0 2px rgba(variables.$dark-main, 0.3);
  }
}

.request__text-initials {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
}

.request__inintials-wrappers {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 23px 0;
}

.request__group-input {
  position: relative;
  width: 100%;

  &:hover .request__icon-input,
  &:focus .request__icon-input {
    color: variables.$moderate-aquamarine-2;
  }
}

.request__icon-input {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  color: rgba(variables.$dark-main, 0.2);

  &--message {
    right: 3px;
  }
}

.request__subtext {
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 16px;
  color: variables.$dark-bluish-black;
}

.request__button{
  align-self: center;
}
