@use "../global/variables.scss";

.reviews {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    background: url("../img/decor/zigzag-line.svg") repeat-x;
  }
}

.reviews__wrapper {
  padding: 26px 30px 51px;
}

.reviews__subtitle {
  margin: 0 0 14px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0 0 34px;
  font-size: 15px;
  line-height: 30px;
  color: variables.$dark-bluish-black;
}

.reviews__autor-name {
  display: block;
  margin: 0 0 3px;
  font-weight: 700;
  font-style: normal;
}

.reviews__id {
  margin: 0 0 29px;
  line-height: 30px;
  color: variables.$dark-bluish-black;
}

.reviews__arrow-buttons-group {
  display: flex;
  justify-content: center;
  margin: 0 0 38px;
}

.reviews__arrow-button {
  padding: 13px 42px 10px 38px;
  border: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px variables.$linen;
  cursor: pointer;

  &--prev {
    padding-right: 43px;
  }

  &--next {
    margin-left: -1px;
  }

  &:hover .reviews__icon-arrow {
    opacity: 0.6;
  }

  &:active .reviews__icon-arrow {
    opacity: 0.3;
  }
}

.reviews__write {
  max-width: 334px;
  width: 100%;
  margin: 0 auto;
}
