@use "../global/mixins.scss";
@use "../global/variables.scss";

.user-list {
  @include mixins.list-reset;
  font-weight: 700;
}

.user-list__link {
  @include mixins.link-reset;
  @include mixins.link-behaviour;
  position: relative;

  &:hover .user-list__icon {
    color: variables.$moderate-aquamarine-1;
  }

  &:active .user-list__icon {
    color: rgba(variables.$moderate-aquamarine-1, 0.3);
  }
}

.user-list__icon {
  position: absolute;
  top: calc(50% - 9px);
  left: 31px;
  color: rgba(variables.$dark-main, 0.2);
}
